<form method="POST">

<input name="nguoi_yeu_cau" value="{{ data.nguoi_yeu_cau }}">
<input name="chuc_vu" value="{{ data.chuc_vu }}">
<input name="so_hanh_khach" value="{{ data.so_hanh_khach }}">

<input type="datetime-local" name="ngay_di" value="{{ data.ngay_di }}">
<input type="datetime-local" name="ngay_ve" value="{{ data.ngay_ve }}">

<input name="muc_dich" value="{{ data.muc_dich }}">
<input name="diem_don" value="{{ data.diem_don }}">
<input name="diem_den" value="{{ data.diem_den }}">

<button class="btn-add">💾 Cập nhật</button>

</form>