<form method="POST">

<div class="row">
    <div class="col">
        <label>Người yêu cầu</label>
        <input name="nguoi_yeu_cau" class="form-control" required>
    </div>

    <div class="col">
        <label>Chức vụ</label>
        <input name="chuc_vu" class="form-control">
    </div>
</div>

<label>Số hành khách</label>
<input name="so_hanh_khach" type="number" class="form-control">

<label>Mục đích</label>
<textarea name="muc_dich" class="form-control"></textarea>

<div class="row">
    <div class="col">
        <label>Điểm đón</label>
        <input name="diem_don" class="form-control">
    </div>

    <div class="col">
        <label>Điểm đến</label>
        <input name="diem_den" class="form-control">
    </div>
</div>

<div class="row">
    <div class="col">
        <label>Ngày đi</label>
        <input type="datetime-local" name="ngay_di" class="form-control">
    </div>

    <div class="col">
        <label>Ngày về</label>
        <input type="datetime-local" name="ngay_ve" class="form-control">
    </div>
</div>

<button class="btn btn-primary mt-3">Gửi yêu cầu</button>

</form>